MYSQL_DATABASE=roomslot
MYSQL_USER=mysql
MYSQL_PASSWORD=mysql
MYSQL_ROOT_PASSWORD=mysql

BACKEND__DB__HOST=db
BACKEND__DB__PORT=3306
BACKEND__DB__ALEMBIC_HOST=localhost
BACKEND__DB__NAME=roomslot
BACKEND__DB__USER=mysql
BACKEND__DB__PASSWORD=mysql
BACKEND__DB__ECHO=false

BACKEND__LOGGING__LOG_FORMAT=console

BACKEND__SECURITY__JWT_SECRET_KEY=change-me-to-at-least-32-random-bytes
